version: "3.8"

services:
  db:
    image: mariadb:10.3
    environment:
      MYSQL_ROOT_PASSWORD: secreta
      MYSQL_DATABASE: daw
      MYSQL_USER: admin
      MYSQL_PASSWORD: secreta
    ports:
      - "3316:3306"
    volumes:
      - dbdata:/var/lib/mysql
    restart: always

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    environment:
      PMA_HOST: db
      PMA_PORT: 3306
      MYSQL_ROOT_PASSWORD: secreta
    ports:
      - "8091:80"
    depends_on:
      - db
    restart: always

volumes:
  dbdata: